<% if resource.errors.present? %>
  <div>
    <%= puts resource.errors.count %>
    <%= t('.header', count: resource.errors.count) %>:
    <ul>
      <% resource.errors.full_messages.each do |err_message| %>
        <li><%= err_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
