<% if resource.errors.present? %>
  <div>
    <%= puts resource.errors.count %>
    <%# явно указываем локаль, т.к. в приложении стоит :ru, ставим :en, т.к. для :ru pluralize не работает  %>
    <h2><%= pluralize(resource.errors.count, 'error', locale: :en)%> detected:</h2>
    <ul>
      <% resource.errors.full_messages.each do |err_message| %>
        <li><%= err_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
