<br><div align="center">
Проект для прохождения онлайн-тестирования <%= github_url('TestGuru', 'dmikhr/test-guru') %> |
Автор: <%= github_url('Дмитрий Храмцов', 'dmikhr') %> (<%= current_year %> г.)<br>
Учебный проект в онлайн-школе <a href="https://thinknetica.com/" target='_blank'>Thinknetica</a>
<p><%= link_to 'Обратная связь', contact_path %></p>
</div>
