// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.time-left {
  background-color: #ffffcc;
  color: black;
  font-size: 16pt;
  font-weight: normal;
}
