.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: black;
}

.octicon-success {
  fill: green;
  }

.octicon-fail {
  fill: red;
  }

.form-inline-cancel {
  padding-left: 3px;
}
